{% extends "blog/base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="alert alert-primary" role="alert">
    The previous Month winner is—check it out!
</div>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Current</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
</ul>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">S.NO</th>
            <th scope="col">Name</th>
            <th scope="col">Bill Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
        </tr>
    </tbody>
</table>


{% endblock %}