{% extends "blog/base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="alert alert-primary" role="alert">
    The previous Month winner is—check it out!
</div>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Current</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
</ul>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">S.NO</th>
            <th scope="col">Name</th>
            <th scope="col">Bill Amount</th>
        </tr>
    </thead>
    <tbody>
        {% for user in everyone %}
        <tr>
            <th scope="row">1</th>
            <td>{{user.user}}</td>
            <td>{{user.current_bill}}</td>
        </tr>
        {% endfor %}
        
    </tbody>
</table>
<p>Leading is {{current_winner.user}}</p>


{% endblock %}